.p-menubar {
    background: linear-gradient(to right, #7FE9D0, #A5D6A7, #a7eaef);
}


.p-menuitem-icon{
    color: rgb(31, 30, 30);
}
.p-menuitem:hover {
    background-color: transparent; /* Mantiene el color de fondo original */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(106, 201, 187, 0.753), 0 6px 20px rgba(106, 201, 186, 0.4); /* Un verde/azul suave */
}


.p-menuitem-content:hover{
background-color: transparent;    
}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content{
    background-color: #9dfa983c!important;
}